.about.section{
  border: 0px solid black;
  height: 370px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top:50px;
  /* position:a;
  top:200px; */
}
.about.section> div {
  border: 0px solid black;
  width: 40%;
  height: 90%;
}
.about.section> div:nth-child(1) {
  width: 490px;
  height: 300px;
}
.about.section> div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}
.about.section> div:nth-child(2) {
  height: 200px;
  width: 600px;
}
.about.section> div:nth-child(2) > h2 {
  margin-bottom: 10px;
}
.about.section> div:nth-child(2) > p {
  margin-top: 10px;
  font-size: 18px;
}
@media screen and (max-width: 780px) {
  .about.section{
    border: 0px solid black;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  .about.section> div:nth-child(1) {
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    border: 0px solid black;
  }
  .about.section> div:nth-child(1) > img {
    width: 100%;
    height: 100%;
  }
  .about.section> div:nth-child(2) {
    height: 250px;
    width: 400px;
    border: 0px solid black;
    padding:20px;
  }
}

